/* html, body {
  height: 100%;
  width: 100%;
} */
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}
.flex-container {
  display: flex;
  margin: 100px auto;
  width: 800px;
  font-family: Lexend Deca;
}

.sedans-item,
.suvs-item,
.luxury-item {
  padding: 20px;
  width: 55vw;
  height: 50vh;
  font-weight: 700;
  font-family: Big Shoulders Display;
}
.sedans-item {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suvs-item {
  background-color: hsl(185, 100%, 25%);
}
.luxury-item {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
h2 {
  color: hsl(0, 0%, 95%);
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-top: 20px;
  font-weight: 400;
}
.button-sedans,
.button-suvs,
.button-luxury {
  background-color: hsl(0, 0%, 95%);
  font-weight: 700;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;

  cursor: pointer;
}
.button-sedans {
  color: hsl(31, 77%, 52%);
  margin-top: 45px;
}
.button-suvs {
  color: hsl(185, 100%, 25%);
  margin-top: 30px;
}
.button-luxury {
  color: hsl(179, 100%, 13%);
  margin-top: 30px;
}
.grid {
  color: black;
}

@media screen and (max-width: 1440px) {
  body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  body {
    background-color: gray;
    font-size: 10px;
  }
}
